$color: red;

// 左侧logo高度
$base-menu-logo-height: 50px;

// 左侧logo文字大小
$base-logo-title-fontSize: 20px;

//左侧的菜单的宽度
$base-menu-width: 260px;

//左侧菜单的背景颜色
$base-menu-background: #001529;

//顶部导航的高度
$base-tabbar-height: 80px;